<div class="page-header">
  <h2>My Projects</h2>
</div>

<div class="container">
  <ul class="projects-list">
    <% @projects.each do |project| %>
      <%= content_tag(:li, link_to(project.name, project_path(project))) %>
    <% end %>
  </ul>
</div>
