<div class="container">
  <div class="page-header layer-header">
    <h1>Edit <%= @layer.name %></h1>
    <div class="btn-group">
      <%#= button_to 'Back', list_layers_path, method: :get, :class => 'btn' %>
    </div>
  </div>

  <%= render "form" %>
</div>
